
/*
* 테이블 스타일
*/

h2.title{
  font-size: 20px;
  padding: 15px 0 16px 0;
  border-bottom: 1px solid #dbdbdb;
}


// list

.list-wrap{
  .list-h{
    height: 42px;
    padding: 10px 0;
    display: flex;
    .list-h-r{
      display: flex;
      align-content: center;
      justify-content: space-between;
      .list-h-l{
      }
      .list-h-r{
      }
      .setDate {
        display: flex;
      }
    }
  }
  .list-m{}
  .list-b{
    height: 80px;
  }
}

//page-select

.page-select{
  border: 1px solid #d3d3d3;
  width: 100px;
  border-radius: 4px;
  height: 32px;
  padding-left: 12px;
  transition: border ease 0.4s;
  appearance: none;
  background: #fff url(../images/icon_selectbox_arrow.png) no-repeat
  calc(100% - 10px) 50%;
  &:focus,
  &:hover {
    border: 1px solid $point-color;
  }


}


.total_info{
  display: inline-block;
  //아래로 내리기
  transform: translateY(5px);
  font-size: 14px;
  margin-left: 15px;
  &::before {
    content: "";
    display: inline-block;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #c7c8ca;
    vertical-align: middle;
    margin-right: 5px;
  }
  strong {
    color: #f47d14;
    font-size: 15px;
  }
}

//table
.table-list{
  font-family: "Noto Sans KR Medium";
  width: 100%;
  text-align: center;
  background-color: #cdc6f5;
}