
.login-container {
  height: 100%;
  width: 100%;
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;


  .form-box {
    width: 480px;
    height: 455px;
    background-color: $background-color;
    display: inline-block;
    border-radius: 16px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);

  }

  .form-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 75px 0 55px 0;

    .logo {
      font-size: 25px;
    }
  }

  .form-body {
    display: flex;
    justify-content: center;
    flex-direction: column;


    .login-inputs {
      padding: $login-padding;
      display: flex;
      flex-direction: column;

      .input-id,
      .input-password {
        width: 100%;
        position: relative;

        .icon {
          display: inline-block;
          width: 21px;
          position: absolute;
          left: 12px;
          top: 13px;
          transition: all ease 0.4s;
        }
      }

      input {
        width: 100%;
        border: none;
        border: 1px solid $point-color2;
        height: 44px;
        padding-left: 50px;
        box-sizing: border-box;
        border-radius: 6px;
        font-size: 15px;
        line-height: 44px;
        font-family: "Noto Sans KR Regular";

        &.id {
          margin-bottom: 22px;
        }

        &::placeholder {
          color: #a9a9a9;
        }

        &:focus,
        &.on {
          border: 1px solid $point-color;
        }
      }

      .input-id .icon {
        height: 21px;
        background: url(../images/icon_id.png) no-repeat 0 0;

        &.on {
          background-position: 0 -21px;
          color: #7a6cf1;
        }
      }

      .input-password .icon {
        top: 13px;
        height: 25px;
        background: url(../images/icon_pass.png) no-repeat 0 0;

        &.on {
          background-position: 0 -25px;
        }
      }

    }

  }

  .check-area {
    text-align: right;
    padding: 15px 55px 0 55px;
    font-size: 14px;

    input[type=checkbox] {
      display: none;
    }

    input[type=checkbox] + label {
      color: #696969;
      font-size: 14px;
      margin-right: 0;

    }

    input[type=checkbox] + label:before {
      content: "";
      display: inline-block;
      width: 17px;
      height: 17px;
      background: #fff;
      border: 1px solid #aeaeae;
      vertical-align: middle;
      margin-right: 5px;
      position: relative;
      top: -1px;
      border-radius: 3px;
    }

    input[type=checkbox]:checked + label:before {
      background: #fff url(../images/check.png) no-repeat 54% 50%;
    }
  }


  .login-btns {
    padding: $login-padding;

    .btn-login {
      display: block;
      height: 51px;
      background-color: $point-color;
      border: 1px solid $point-color2;
      color: #fff;
      font-size: 18px;
      font-weight: 400;
      width: 100%;
      margin-top: 33px;
      border-radius: 6px;
      margin-bottom: 50px;
    }
  }
}